/* Basic */

.resume-render {
  background-color: white;
  color: black;
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.resume-render p,
.resume-render li,
.resume-render dl {
  margin: 0;
}

/* Headings */

.resume-render h1,
.resume-render h2,
.resume-render h3 {
  font-weight: bold;
}

.resume-render h1 {
  font-size: 2.13em;
}

.resume-render h2,
.resume-render h3 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.resume-render h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* Lists */

.resume-render ul,
.resume-render ol {
  padding-left: 1.5em;
  margin: 0.2em 0;
}

.resume-render ul {
  list-style-type: circle;
}

.resume-render ol {
  list-style-type: decimal;
}

/* Definition Lists */

.resume-render dl {
  display: flex;
}

.resume-render dl dt,
.resume-render dl dd:not(:last-child) {
  flex: 1;
}

/* Tex */

.resume-render :not(span.katex-display) > span.katex {
  font-size: 1em !important;
}

/* SVG & Images */

.resume-render svg.iconify {
  vertical-align: -0.2em;
}

.resume-render img {
  max-width: 100%;
}

/* Header */

.resume-header {
  text-align: center;
}

.resume-header h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
}

.resume-header-item:not(.no-separator)::after {
  content: " | ";
}

/* Citations */

.resume-render ul.crossref-list {
  padding-left: 1.2em;
}

.resume-render li.crossref-item p {
  margin-left: 0.5em;
}

.resume-render li.crossref-item::marker {
  content: attr(data-caption);
}

.resume-render sup.crossref-ref {
  font-size: 100%;
  top: 0;
}

/* Dark & print mode */

.dark .resume-render {
  background-color: #374151;
  color: #e5e7eb;
}

@media print {
  .resume-render {
    background-color: white !important;
    color: black !important;
  }

  .dark .resume-render a {
    color: black !important;
  }
}
