/* Dark mode */

.vue-smart-pages {
  background-color: white;
  color: black;
}

.dark .vue-smart-pages {
  background-color: #374151;
  color: #e5e7eb;
}

/* Basic */

.preview {
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.preview p,
.preview li,
.preview dl {
  margin: 0;
}

/* Headings */

.preview h1,
.preview h2,
.preview h3 {
  font-weight: bold;
}

.preview h1 {
  font-size: 2.13em;
}

.preview h2,
.preview h3 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.preview h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* Lists */

.preview ul,
.preview ol {
  padding-left: 1.5em;
  margin: 0.2em 0;
}

.preview ul {
  list-style-type: circle;
}

.preview ol {
  list-style-type: decimal;
}

/* Definition Lists */

.preview dl {
  display: flex;
}

.preview dl dt,
.preview dl dd:not(:last-child) {
  flex: 1;
}

/* Tex */

.preview :not(span.katex-display) > span.katex {
  font-size: 1em !important;
}

/* SVG & Images */

.preview svg.iconify {
  vertical-align: -0.2em;
}

.preview img {
  max-width: 100%;
}

/* Header */

.preview-header {
  text-align: center;
}

.preview-header h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
}

.preview-header-item:not(.no-separator)::after {
  content: " | ";
}

/* Citations */

.preview ul.cite-list {
  padding-left: 1.2em;
}

.preview li.cite-item p {
  margin-left: 0.5em;
}

.preview li.cite-item::marker {
  content: attr(data-caption);
}

.preview sup.cite-ref {
  font-size: 100%;
  top: 0;
}

/* Print */

@media print {
  .vue-smart-pages {
    background-color: white !important;
    color: black !important;
  }

  .dark .preview-header a {
    color: black !important;
  }
}
