.edit-page {
  @apply h-screen;
}

.workspace {
  height: calc(100% - 48px) !important;
}

.splitpanes__pane {
  @apply !bg-transparent pb-2;
}

.splitpanes__splitter {
  @apply !bg-transparent !border-l-none !border-t-none;
}

.pane-container {
  @apply h-full rounded-xl !overflow-scroll;
}

.preview-pane .pane-container {
  @apply bg-darker-c border-4 border-light-c;
}

.editor-pane .pane-container,
.toolbar-pane .pane-container {
  @apply bg-c;
}

.toolbar-mobile {
  @apply fixed z-10 right-0 top-12 w-68 max-w-full pb-10 bg-dark-c;
}

#vue-smart-pages-preview .vue-smart-page-break {
  @apply border-t-4 border-light-c;
}

.preview-pane .pane-container::-webkit-scrollbar,
.toolbar-pane .pane-container::-webkit-scrollbar,
.toolbar-mobile .pane-container::-webkit-scrollbar {
  @apply hidden;
}

/* Dark mode */

.dark .splitpanes__splitter:before,
.dark .splitpanes__splitter:after {
  @apply !bg-slate-400;
}

/* Print mode */

@media print {
  @page {
    margin: 0;
  }

  .edit-page {
    height: auto;
  }

  .header,
  .editor-pane,
  .toolbar-pane,
  .toolbar-mobile,
  .splitpanes__splitter,
  .zoom-bar,
  .Vue-Toastification__container {
    display: none;
  }

  .splitpanes__pane {
    width: 100% !important;
    padding: 0;
  }

  .pane-container {
    border: none;
  }

  .vue-zoom {
    transform: scale(1) !important;
    margin: 0 !important;
  }

  #vue-smart-pages-preview {
    padding-bottom: 0 !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .vue-smart-page-break {
    page-break-before: always;
    margin-top: 0 !important;
    border: none;
  }
}
