#app {
  @apply h-screen;
}

.header {
  height: 50px;
}

.workspace {
  height: calc(100% - 50px) !important;
}

.editor-pane {
  @apply h-full;
}

.preview-pane {
  @apply !overflow-y-scroll;
}

.preview {
  @apply mx-auto origin-top-left;
}

.vue-smart-pages {
  @apply my-1.5 mx-auto border border-black;
}

.vue-smart-page-break {
  @apply border-t-2 border-black;
}

.splitpanes.default-theme .toolbar-pane {
  @apply !bg-white;
}

/* Dark mode */

.dark .vue-smart-pages,
.dark .vue-smart-page-break {
  @apply border-gray-200;
}

.dark .splitpanes.default-theme .preview-pane {
  @apply bg-dark-100;
}

.dark .splitpanes.default-theme .toolbar-pane {
  @apply !bg-dark-400;
}

.dark .splitpanes.default-theme .splitpanes__splitter {
  @apply bg-dark-400 border-gray-600;
}

.dark .splitpanes.default-theme .splitpanes__splitter:before,
.dark .splitpanes.default-theme .splitpanes__splitter:after {
  @apply bg-gray-500;
}


/* Print mode */

@media print {
  @page {
    margin: 0;
  }

  .header,
  .editor-pane,
  .toolbar-pane,
  .splitpanes__splitter {
    display: none;
  }

  .splitpanes,
  .splitpanes__pane,
  .preview,
  .vue-smart-pages {
    width: 100% !important;
  }

  .preview {
    transform: scale(1) !important;
    margin-bottom: 0 !important;
  }

  .vue-smart-pages {
    border: none;
    margin: 0;
    padding-bottom: 0 !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .vue-smart-page-break {
    page-break-before: always;
    margin-top: 0 !important;
    border: none;
  }

  #app {
    height: auto;
  }
}
