.preview-page {
  background-color: white;
}

.preview {
  font-size: 15px;
}

.preview h1,
.preview h2,
.preview h3 {
  font-weight: bold;
}

.preview {
  word-break: break-all;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.preview h2,
.preview h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.preview h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.preview ul,
.preview ol {
  padding-left: 22px;
  margin: 5px 0;
}

.preview ul {
  list-style-type: circle;
}

.preview li,
.preview p,
.preview dl {
  margin: 0;
}

.preview dl {
  display: flex;
  flex-direction: row-reverse;
}

.preview dl dd {
  flex: 1;
  margin-inline-start: 0;
}

.preview svg.iconify {
  vertical-align: -0.15rem;
}

.preview img {
  max-width: 100%;
}

.preview-header {
  text-align: center;
}

.preview-header span {
  font-family: "CMU Sans Serif";
}

.preview-header h1 {
  font-size: 32px;
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
}

.preview-header a {
  color: black;
}

.preview-header svg.iconify {
  vertical-align: -0.2rem;
}
