.preview-page {
  padding: 35px 40px;
}

.preview {
  font-family: "CMU Sans Serif", "PingFang SC", Helvetica, ST-Heiti, "Microsoft Yahei";
  font-size: 15px;
}

.preview h1,
.preview h2,
.preview h3,
.preview h4 {
  font-family: "Fontin SmallCaps";
  color: #377bb5;
}

.preview {
  word-break: break-all;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.preview h2,
.preview h3 {
  font-weight: normal;
  font-size: 18px;
  margin: 5px 0;
}

.preview h2 {
  border-bottom: solid 1px rgb(55, 123, 181, .6);
}

.preview a {
  color: #377bb5;
}

.preview ul,
.preview ol {
  padding-left: 22px;
  margin: 5px 0;
}

.preview ul {
  list-style-type: circle;
}

.preview li,
.preview p,
.preview dl {
  line-height: 1.32;
  margin: 0;
}

.preview dl {
  display: flex;
  flex-direction: row-reverse;
}

.preview dl dd {
  flex: 1;
  margin-inline-start: 0;
}

.preview svg.iconify {
  vertical-align: -0.15rem;
}

.preview-header {
  text-align: center;
}

.preview-header h1 {
  font-size: 32px;
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
}

.preview-header a {
  color: black;
}

.preview-header svg.iconify {
  vertical-align: -0.2rem;
}
