#app {
  @apply h-screen;
}

.header {
  height: 50px;
}

.resume-main {
  height: calc(100% - 50px);
}

.editor {
  @apply h-full;
}

.preview-pane {
  @apply overflow-y-scroll;
}

.preview-container {
  width: 804px;
  @apply mx-auto origin-top-left;
}

.preview {
  width: 804px;
}

.preview-page {
  width: 210mm;
  height: 296mm;
  position: relative;
  border: solid 1px #000;
  margin: 5px auto;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .header,
  .editor,
  .splitpanes__splitter {
    display: none;
  }

  .splitpanes,
  .splitpanes__pane,
  .preview-container,
  .preview,
  .preview-page {
    width: 100% !important;
    background-color: white;
  }

  .preview-container {
    transform: scale(1) !important;
  }

  .preview-page {
    border: none;
    margin: 0;
  }

  .preview-page-break {
    page-break-before: always;
  }

  #app {
    height: auto;
  }
}
