#app {
  @apply h-screen;
}

.header {
  height: 60px;
}

.resume-main {
  height: calc(100% - 60px);
  @apply flex;
}

.editor {
  @apply flex-1 h-full;
}

.preview-container {
  @apply w-auto h-full overflow-y-scroll overflow-x-hidden;
}

.preview {
  width: 804px;
}

.preview-page {
  width: 210mm;
  height: 291mm;
  position: relative;
  border: solid 1px #000;
  margin: 5px auto;
}

@media only screen and (max-width: 810px) {
  .resume-main {
    @apply flex-col-reverse;
  }

  .preview-container {
    @apply w-full h-1/2 overflow-x-scroll;
  }

  .editor {
    @apply w-full;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .header,
  .editor {
    display: none;
  }

  .preview {
    width: 100%;
    overflow: hidden;
  }

  .preview-page {
    width: 100%;
    border: none;
    margin: 0 auto;
  }

  .preview-page-break {
    page-break-before: always;
  }

  #app,
  .resume-main,
  .preview,
  .preview-page {
    height: auto;
  }
}
