#app {
  @apply h-screen;
}

.header {
  height: 50px;
}

.resume-main {
  height: calc(100% - 50px) !important;
}

.editor {
  @apply h-full;
}

.preview-pane {
  overflow-y: scroll !important;
}

.preview {
  @apply mx-auto origin-top-left;
}

.preview-page {
  @apply my-1.5 mx-auto border border-black;
}

.preview-page-break {
  @apply border-t-2 border-black;
}

/* Dark mode */

.dark .preview-page,
.dark .preview-page-break {
  @apply border-gray-200;
}

.dark .splitpanes.default-theme .splitpanes__pane {
  @apply bg-dark-100;
}

.dark .splitpanes.default-theme .splitpanes__splitter {
  @apply bg-dark-400 border-gray-600;
}

.dark .splitpanes.default-theme .splitpanes__splitter:before,
.dark .splitpanes.default-theme .splitpanes__splitter:after {
  @apply bg-gray-500;
}


/* Print mode */

@media print {
  @page {
    margin: 0;
  }

  .header,
  .editor,
  .splitpanes__splitter {
    display: none;
  }

  .splitpanes,
  .splitpanes__pane,
  .preview,
  .preview-page {
    width: 100% !important;
  }

  .preview {
    transform: scale(1) !important;
    margin-bottom: 0 !important;
  }

  .preview-page {
    border: none;
    margin: 0;
    padding-bottom: 0 !important;
  }

  .preview-page-break {
    page-break-before: always;
    margin-top: 0 !important;
    border: none;
  }

  #app {
    height: auto;
  }
}
