.edit-page {
  @apply h-screen;
}

.pane-container {
  @apply h-full rounded-xl overflow-scroll;
}

.pane-container::-webkit-scrollbar {
  @apply hidden;
}

.preview-pane .pane-container {
  @apply bg-darker-c border-4 border-light-c;
}

.editor-pane .pane-container,
.tools-pane .pane-container {
  @apply bg-c;
}

.tools-pane {
  @apply lt-lg:(fixed z-10 max-w-full h-full right-0 top-12 pb-10 bg-dark-c);
}

.tools-pane .pane-container {
  @apply lt-lg:bg-dark-c;
}

#vue-smart-pages-preview .vue-smart-page-break {
  @apply border-t-4 border-light-c;
}

/* Print mode */

@media print {
  @page {
    margin: 0;
  }

  .edit-page {
    height: auto;
  }

  .workspace,
  [data-scope="splitter"] {
    overflow: visible !important;
    display: block !important;
    padding: 0 !important;
  }

  .header,
  .editor-pane,
  .tools-pane,
  .zoom-bar,
  .toast-container,
  #nuxt-devtools-container {
    display: none !important;
  }

  .pane-container {
    border: none;
  }

  .vue-zoom {
    transform: scale(1) !important;
    margin: 0 !important;
  }

  #vue-smart-pages-preview {
    padding-bottom: 0 !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .vue-smart-page-break {
    page-break-before: always;
    margin-top: 0 !important;
    border: none;
  }
}
