/* English */

@font-face {
  font-family: "CMU Sans Serif";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/cmu-sans-serif/regular.ttf") format("opentype");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/cmu-sans-serif/bold.ttf") format("opentype");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/cmu-sans-serif/italic.ttf") format("opentype");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/cmu-sans-serif/bolditalic.ttf") format("opentype");
}

@font-face {
  font-family: "Times Newer Roman";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/times-newer-roman/regular.otf") format("opentype");
}

@font-face {
  font-family: "Times Newer Roman";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/times-newer-roman/bold.otf") format("opentype");
}

@font-face {
  font-family: "Times Newer Roman";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/times-newer-roman/italic.otf") format("opentype");
}

@font-face {
  font-family: "Times Newer Roman";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/times-newer-roman/bolditalic.otf") format("opentype");
}

@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/minion-pro/regular.otf") format("opentype");
}

@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/minion-pro/bold.otf") format("opentype");
}

@font-face {
  font-family: "Minion Pro";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/minion-pro/italic.otf") format("opentype");
}

@font-face {
  font-family: "Minion Pro";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/minion-pro/bolditalic.otf") format("opentype");
}

@font-face {
  font-family: "Tex Gyre Pagella";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/tex-gyre-pagella/regular.otf") format("opentype");
}

@font-face {
  font-family: "Tex Gyre Pagella";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/tex-gyre-pagella/bold.otf") format("opentype");
}

@font-face {
  font-family: "Tex Gyre Pagella";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/tex-gyre-pagella/italic.otf") format("opentype");
}

@font-face {
  font-family: "Tex Gyre Pagella";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/tex-gyre-pagella/bolditalic.otf") format("opentype");
}

@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/adobe-garamond-pro/regular.ttf") format("opentype");
}

@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/adobe-garamond-pro/bold.ttf") format("opentype");
}

@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/adobe-garamond-pro/italic.ttf") format("opentype");
}

@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/adobe-garamond-pro/bolditalic.ttf") format("opentype");
}

@font-face {
  font-family: "Euclid";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/euclid/regular.ttf") format("opentype");
}

@font-face {
  font-family: "Euclid";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/euclid/bold.ttf") format("opentype");
}

@font-face {
  font-family: "Euclid";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/euclid/italic.ttf") format("opentype");
}

@font-face {
  font-family: "Euclid";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/euclid/bolditalic.ttf") format("opentype");
}

/* Chinese */

@font-face {
  font-family: "LXGW WenKai";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/lxgw-wen-kai/regular.ttf") format("opentype");
}

@font-face {
  font-family: "LXGW WenKai";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/lxgw-wen-kai/bold.ttf") format("opentype");
}

@font-face {
  font-family: "HKST";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/hkst/w7.ttf") format("opentype");
}

@font-face {
  font-family: "HKST";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/hkst/w9.ttf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/helvetica-neue/regular.ttf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/helvetica-neue/bold.ttf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/helvetica-neue/italic.ttf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/helvetica-neue/bolditalic.ttf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue Light";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/helvetica-neue-light/regular.ttf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue Light";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/helvetica-neue-light/bold.ttf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue Light";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/helvetica-neue-light/italic.ttf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue Light";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/helvetica-neue-light/bolditalic.ttf") format("opentype");
}
